
@media screen and (max-width: 1000px){
	.imgGallery, .divContent{flex-direction: column}
	.imgGallery, .imgGallery img{width: 100%; align-content: center;}
	.divContent{width: 90%;}
	.presentationimg{width: 0%}
	.firstSec{justify-content: center;}
	.presentation{ margin-top: 250px; margin-bottom: 150px;}
	.firstSec{background-image: url("src/LilliaIMG.png"); background-size: cover;}
}