*{
	color: white;
}
header{
	background-color: rgb(40, 40, 40);
}
body{
	background-color: rgb(20, 20, 20);
	padding: 0;
	margin: 0;
}
ul{
	list-style-type: none;
	overflow: hidden;
	margin: 0;
	padding: 0;
}
li{
	float: right;
}
li a{
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 35px 40px;
}
.title{
	float: left;
}
.columnSide{
	width: 15%;
	float: left;
	background-color: white;
}
.columnMiddle{
	width: 70%;
	float:left;
}