*{
	padding: 0;
	margin: 0;
	color: white;
	font-size: 20px;
}
:root{
	--colorTheme: #C357B7;
	--colorThemeHover: #592353;
	--colorRed: #ff3232;
}
button{
	border-radius: 15px;
	padding: 20px 20px;
	margin: 50px 20px 50px 0px;
	width: 250px;
	background-color: var(--colorTheme);
	border: none;
	transition: 0.5s;
}
button:hover{
	background-color: var(--colorThemeHover);
}
header{
	font-family: 'New Tegomin' , serif;
	background-color: rgb(40 40 40);
}
body{
	font-family: 'Roboto', sans-serif;
}
ul{
	list-style-type: none;
	overflow: hidden;
}
li{
	float: right;
}
li a{
	text-align: center;
	display: block;
	text-decoration: none;
	padding: 35px 30px;
	font-size: 22px;
	transition: 0.5s;
}
li a:hover{
	color: var(--colorTheme);
}
.title{
	font-weight: bold;
	float: left;
}
.columnSide{
	width: 15%;
	float: left;
	background-color:;
}
.columnMiddle{
	width: 70%;
	float: left;
}
.genericCenter{
	display: flex;
	justify-content: center;
}
.footer{
	font-family: 'New Tegomin' , serif;
	font-weight: bold;
	text-align: center;
	padding: 60px 0px 45px 0px;
	clear:both;
	background-color: var(--colorTheme);
	width: 100%;
}
.footer img{
	width: 24px;
	margin: 20px;
}
.footer a{
	transition: 0.5s;
}
.footer img:hover{
	background-color: black;
}