
.divContent a:hover{
	background-color: var(--colorThemeHover);
}

.homeText{
	display: flex;
	justify-content: flex-start;
}
@media (max-width: 960px){
	.imgGallery, .divContent{flex-direction: column}
	.imgGallery, .imgGallery img{width: 100%; align-content: center;}
	.divContent{width: 95%;}
	.presentationimg{width: 0%}
	.firstSec{justify-content: center;}
	.presentation{ margin-top: 250px; margin-bottom: 150px;}
	.firstSec{background-image: url("src/LilliaIMG.png"); background-size: cover;}
}